.subjectHeader {
  font-family: sans-serif;
  color: darkgreen;
}

#scoreBoard {
  color: darkorange;
  border: 1px solid black;
  text-align: center;
}

#scoreBoard > caption {
  font-weight: bold;
}

ul > li {
  list-style: square;
  background-image:
  z-index: 2;
}

a:hover{
  background-color: darkorange;
  text-decoration: none;
}

blockquote em{
  background-color: navy;
  color: beige;
}

#teamRoster >li > img{
  position: absolute;
  height: 100px;
  width: 200px;
  opacity: .3;
}

form > ul > li {
  list-style: none;
}

ol > li:first-child {
  font-weight: bold;
}

tr:nth-child(odd) {
  background: darkblue;

}
