.subjectHeader {
  font-family: sans-serif;
  color: darkgreen;
}

#scoreBoard {
  color: darkorange;
  border: 1px solid black;
  text-align: center;
}

#scoreBoard > caption {
  font-weight: bold;

}

ul > li {
  list-style: square;
  background-image:
}

a:hover{
  background-color: darkorange;
  text-decoration: none;
}

blockquote em{
  background-color: navy;
  color: beige;
}

#teamRoster > li:first-child ul{
  background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#teamRoster > li:last-child ul{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}


form > ul > li {
  list-style: none;
}
