.subjectHeader {
  font-family: sans-serif;
  color: darkgreen;
}

#scoreBoard {
  color: darkorange;
  border: 1px solid black;
  text-align: center;
}

#scoreBoard > caption {
  font-weight: bold;
}

ul > li {
  list-style: square;
  background-image:
  z-index: 2;
}

a:hover{
  background-color: darkorange;
  text-decoration: none;
}

blockquote em{
  background-color: navy;
  color: beige;
}

#teamRoster > li:first-child{
  z-index: -1;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.75) 20%), url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;

}

#teamRoster > li:last-child{
  background-image:linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.75) 20%), url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

#teamRoster >li > img{
  visibility: hidden;
}

form > ul > li {
  list-style: none;
}

ol > li:first-child {
  font-weight: bold;
}

tr:nth-child(odd) {
  background: darkblue;

}
